<div class="sidebar">
    <div class="text-center my-4">
        <h4><a class="text-light letter-spacing" href="/dashboard">Quản trị hệ thống</a></h4>
    </div>
    <div class="text-center my-4">
        <h4><a class="text-light letter-spacing" href="/admin/addDish">Thêm món ăn</a></h4>
    </div>
    <div class="text-center my-4">
        <h4><a class="text-light letter-spacing" href="/admin/dishMenus/1">Danh sách món ăn</a></h4>
    </div>
    <div class="text-center my-4">
        <h4><a class="text-light letter-spacing" href="/admin/adminOrder/1">Danh sách đơn đặt món</a></h4>
    </div>
    <div class="text-center my-4">
        <h4><a class="text-light letter-spacing" href="#">Nhân viên</a></h4>
    </div>
    <div class="text-center my-4">
        <h4><a class="text-light letter-spacing" href="/logout">Đăng xuất</a></h4>
    </div>
</div>